<section class="practice-section">
    <div class="container">
        <h2 class="section-title">Our Clients</h2>
        <ul class="section-list">
            <li class="section-list-item"><img src="./images/airbnb.svg" alt="" class="section-list-img"></li>
            <li class="section-list-item"><img src="./images/google.svg" alt="" class="section-list-img"></li>
            <li class="section-list-item"><img src="./images/microsoft.svg" alt="" class="section-list-img"></li>
            <li class="section-list-item"><img src="./images/fedex.svg" alt="" class="section-list-img"></li>
        </ul>
    </div>
</section>