<header class="practice-header">
  <div class="header-container container">
    <nav class="header-nav">
      <a href="" class="nav-logo">
        <img src="./images/logo.svg" alt="Logo">Product
      </a>
      <ul class="nav-list">
        <li><a href="" class="nav-link">Resources</a></li>
        <li><a href="" class="nav-link">Pricing</a></li>
        <li><a href="" class="nav-link">Customers</a></li>
        <li><a href="" class="nav-link">Product</a></li>
      </ul>
    </nav>
    <ul class="button-list">
      <li class="button-item">
        <button class="sign-in" id="js-button" type="button">Sign In</button>
      </li>
      <li class="button-item">
        <button class="sign-up" id="js-button" type="button">Sign Up</button>
      </li>
    </ul>
    <fieldset class="header-switcher">
      <legend class="hidden">Theme switcher</legend>
      <input class="switcher-control active light-theme" type="radio" name="switcher" data-theme="light">
      <input class="switcher-control auto-theme" type="radio" name="switcher" data-theme="auto">
      <input class="switcher-control dark-theme" type="radio" name="switcher" data-theme="ligdarkht">
    </fieldset>
  </div>
</header>